{% extends "layout.html" %}


{% block main%}
<div class="desk-lamp">
    <div class="lamp-base"></div>
    <div class="lamp-arm">
        <div class="lamp-head"></div>
        <div class="lamp-light"></div>
    </div>
</div>
    <h1>Welcome to Desk!</h1>
    <h3>Your desk in your browser. Track your work or manage tasks. </h3>
    <ul class="ul-feature">
        <li>
            <h5>KEY FEATURES</h5>
        </li>
        <li>Pomodoro Timer for focused work sessions</li>
        <li>Task management and tracking</li>
        <li>Time tracking and reporting</li>
        <li>Sound effects to remind you about time</li>
        <!-- Add other key features -->
    </ul>
    <link href="/static/styles.css" rel="stylesheet">

{% endblock %}
